:root{
    --rotateValue: 0deg;
    --moveFarwardValue: 0px;
    --moveFarwardXValue: 0px;
    --negativeRotateValue: 0deg;
    --visibilityValue: hidden;
    --newIncreasedSize: " ";
    --tailColor: orange;
    --tailTipColor:white ;
    --legColor: orange;
    --armColor: orange;
    --bodyAndBackLegColor: orange;
    --stomachColor: white;
    --mouthColor: white;
    --teathColor: white;
    --pupilColor: white;
    --noseColor: black;
    --catVisibility: visible;
    --glideVariableX: 0px;
    --glideVariableY: 0px;
    --initialGlideX: 0px;
    --initialGlideY: 0px;
    --glideTime: 0s;
}


.wholeCat{
    transform: rotate(var(--rotateValue)) translate(var(--moveFarwardValue),var(--moveFarwardXValue));
    size: 400px;
    visibility: var(--catVisibility);
    
    position: relative;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-name: example;
    animation-duration: 5s;   
    top: 0px;
    left: 0px;
    
}


@keyframes example {
    0%   {left:0px; top:0px;}
    100% {left:var(--glideVariableX); top:var(--glideVariableY);}
  }
.invisible{
    
    visibility: var(--visibilityValue);
}
.dimentions{
    width: var(--newIncreasedSize);
    height: var(--newIncreasedSize);
}

.tail{
    fill: var(--tailColor);
}
.tailTip{
    fill: var(--tailTipColor);
}
.legs{
    fill: var(--legColor);
}
.arm{
    fill: var(--armColor);
}

.button{
  background-color: blue;
  border: none;
  color: white;
  padding: 3px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 2px;
  cursor: pointer;
}

.bodyAndBackLeg{
    fill: var(--bodyAndBackLegColor);
}


.stomach{
    fill: var(--stomachColor);
}
.mouth{
    fill: var(--mouthColor);
}
.teathColor{
    fill: var(--teathColor)
}

.pupil{
    fill: var(--pupilColor);
}

.nose{
    fill: var(--noseColor);
}
